<!DOCTYPE html>
<html>
<#include "/common/head.html">
<body>
<header class="zy_search_top_box scroll_fix">
	<div class="zy_title_top fix">
		<div class="one" href="javascript:" onclick="history.back();"><img src="../images/back_jt.png"><span>返回</span></div>
		<h1>创建简历</h1>
		
	</div>
</header>	

<!-- 占位框 -->
<div class="top_zhanwei_box"></div>	

<!-- 内容框 -->
<div class="zy_module-content zy_vip_conbox">
	<div class="vip_user_info_mima vip_user_createbox">
		<form id="staffInfo">
<!--			<div class="headpic mb6 bgwh">-->
<!--				<i><img src="../images/common_img/woman.png"/></i>-->
<!--			</div>-->
			<div class="write bgwh">
				<div class="form_line">
					<label><span>姓名</span><input type="text" name="name" id="name" placeholder="请输入姓名"></label>
				</div>
				<div class="form_line sexbox bbd">
					<span>性别</span>
					<label><input type="radio" name="sex" style="appearance: auto" value="0" checked="checked">女</label>
					<label><input type="radio" name="sex" style="appearance: auto" value="1">男</label>

				</div>


	            <div class="form_line">
					<label><span>年龄</span><input type="text" name="age" id="age" placeholder="请输入年龄"></label>
				</div>
				<div class="form_line bbd xzbox">
					<span>学历</span>
					<select name="education" id="education">
<!--						<option value="">请选择学历</option>-->
						<#list educationList as l>
							<#if l.name != '无要求'>
							<option value="${l.id}">${l.name}</option>
							</#if>
						</#list>
					</select>
				</div>

			<div class="form_line">
				<label><span>求职意向</span><input type="text" name="intention" id="intention" placeholder="请输入求职岗位"></label>
			</div>
				<div class="form_line bbd xzbox">
					<span>工作经验</span>
					<select name="experience" id="experience">
						<#list experienceList as l>
							<#if l.name != '无要求'>
							<option value="${l.id}">${l.name}</option>
							</#if>
						</#list>
					</select>
				</div>
				<div class="form_line bbd xzbox">
					<span>期望月薪</span>
					<select name="salary" id="salary">
						<#list salaryList as l>
						<option value="${l.id}">${l.name}</option>
						</#list>
					</select>
				</div>
<!--				<div class="form_line">-->
<!--					<label><span>工作地点</span><input type="text" name="" placeholder="请输入期望工作地点"></label>-->
<!--				</div>-->
				<div class="form_line tel"><label><span>联系电话</span><input type="text" name="phoneNumber" id="phoneNumber" placeholder="请输入联系电话"></label></div>
				<div class="form_line">
					<label><span>工作经历</span><textarea placeholder="请输入工作经历" name="workExperience" id="workExperience"></textarea></label>
				</div>
				<div class="form_line">
					<label><span>教育经历</span><textarea placeholder="请输入教育经历" name="educationExperience" id="educationExperience"></textarea></label>
				</div>
				<div class="form_line">
					<label><span>专业技能</span><textarea placeholder="请输入专业技能" name="skill" id="skill"></textarea></label>
				</div>
				<div class="form_line">
					<label><span>自我介绍</span><textarea placeholder="请输入自我介绍" name="introduction" id="introduction"></textarea></label>
				</div>
				<button class="zy_butn bord_3" onclick="saveResume()" type="button">保存简历</button>
			</div>
			
		</form>
	</div>
</div>

</body>
<script>
	/**
	 * 校验文本是否为空
	 * tips：提示信息
	 * 使用方法：$("#id").validate("提示文本");
	 * @itmyhome
	 */
	$.fn.validate = function(tips){

		if($(this).val() == "" || $.trim($(this).val()).length == 0){
			//alert(tips + "不能为空！");
			toast({time: 2000, content: tips + "不能为空！"})
			throw SyntaxError(); //如果验证不通过，则不执行后面
		}
	}

	function saveResume() {
		$("#name").validate("姓名");
		// $("#sex").validate("性别");
		$("#age").validate("年龄");
		$("#education").validate("学历");
		$("#intention").validate("求职意向");
		$("#experience").validate("工作经验");
		$("#salary").validate("期望月薪");
		$("#phoneNumber").validate("联系电话");
		$("#workExperience").validate("工作经历");
		$("#educationExperience").validate("教育经历");
		$("#skill").validate("专业技能");
		$("#introduction").validate("自我介绍");
		// if (checkForm() == true){
			$.ajax({
				url:"addResume",
				dataType:"json",
				type:"post",
				data:$("#staffInfo").serialize(),
				success:function (data) {
					if (data.code == 0){
						history.back();
					}else {
						toast({time: 2000, content: data.msg})
					}
				}
			})
		// }

	}



</script>
</html>