
<head>
    <meta charset="utf-8">
    <meta content="招聘" http-equiv="keywords">
    <meta name="description" content="招聘,培训">
    <meta name="format-detection" content="telephone=no"><!-- 禁止IPHONE识别手机号码 -->
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
    <meta name="renderer" content="webkit" />

    <title>建泰人才资源平台</title>
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="${request.contextPath}/css/index.css">
    <link rel="stylesheet" type="text/css" href="${request.contextPath}/css/swiper.min.css">

    <!-- public_css -->
    <link rel="stylesheet" type="text/css" href="${request.contextPath}/css/public/public_lib.css">
    <!-- zy_public_css -->
    <link rel="stylesheet" type="text/css" href="${request.contextPath}/css/zy_public.css">
    <!-- 入驻 新闻 登录css -->
    <link rel="stylesheet" type="text/css" href="${request.contextPath}/css/news_login_apply.css">
    <!-- 子页css -->
    <link rel="stylesheet" type="text/css" href="${request.contextPath}/css/children.css">
    <!-- 消息弹窗css -->
    <link rel="stylesheet" href="${request.contextPath}/message/font/iconfont.css">
    <!--滑块css-->
    <link rel="stylesheet" href="${request.contextPath}/css/lc_switch.css">


    <!-- js -->
    <script type="text/javascript" src="${request.contextPath}/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="${request.contextPath}/js/swiper.min.js"></script>
    <script type="text/javascript" src="${request.contextPath}/js/public.js"></script>
    <!-- 提示框js -->
    <script src="${request.contextPath}/message/message.js"></script>
    <!--滑块js-->
    <script src="${request.contextPath}/js/lc_switch.js" type="text/javascript"></script>
    <!-- inpit/assembly 2.0 +  -->
    <script type="text/javascript" src="http://cdn.cabbagelol.net/inpitassembly/2.3/inpitassembly.js"></script>

</head>