<!DOCTYPE html>
<html>


<#include "/common/head.html">
<script src="${request.contextPath}/layui/layui.js" charset="utf-8"></script>


<body>
<header class="zy_search_top_box scroll_fix">
	<div class="zy_title_top fix">
		<div class="one" href="javascript:" onclick="history.back();"><img src="../images/back_jt.png"><span>返回</span></div>
		<h1>我的招聘</h1>
		
	</div>
</header>	

<!-- 占位框 -->
<div class="top_zhanwei_box"></div>	

<!-- 内容框 -->
<div class="zy_module-content zy_vip_conbox">
	<div class="vip_user_resume">
		<ul>
			<#list recruitList as l>
			<li class="ili">
				<dl class="idl" onclick="editRecruit('${l.id}')">
					<dt>
						<#if l.show == 0>
							<span style="color: #00FF00">【公开】</span>
						<#else>
							<span style="color: #8D8D8D">【隐藏】</span>
						</#if>
						${l.title}</dt>
						<dd>更新：${l.updateTime?string('yyyy-MM-dd HH:mm:ss')}</dd>
				</dl>
				<h2 class="ih2">
					<a onclick="deleteResume()">删除</a>
					<#if l.show == 0>
						<a onclick="changeShow('${l.title}','${l.id}')">隐藏</a>
					<#else>
						<a onclick="changeShow('${l.title}','${l.id}')">公开</a>
					</#if>
				</h2>
			</li>
			</#list>

		</ul>


	<div id="demo"></div>


		<div class="jianl">

			<HR style="height:0px; border-top:5px solid #ffffff; border-right:0px; border-bottom:0px; border-left:0px;">
			<a class="zy_butn db" href="createRecruit">新增招聘</a>
		</div>
	</div>
</div>


</body>

<script>
	function editRecruit(id) {
		location.href = "editRecruit?id="+id;
	}
	function changeShow(recruitName,recruitId) {
		$.ajax({
			url:"hiddenRecruit?id=" + recruitId,
			dataType:"json",
			type:"get",
			success:function (data) {
				if (data.code == 0){
					location.reload();
				}else {
					toast({time: 2000, content: data.msg})
				}
			}
		})
		// confirm({
		// 	title: '隐藏招聘' + "【" + recruitName + "】",
		// 	content: '',
		// 	doneText: '确定',
		// 	cancalText: '取消'
		// }).then(() => {
		//
		// 	$.ajax({
		// 		url:"hiddenRecruit?id=" + recruitId,
		// 		dataType:"json",
		// 		type:"get",
		// 		success:function (data) {
		// 			if (data.code == 0){
		// 				location.reload();
		// 			}else {
		// 				toast({time: 2000, content: data.msg})
		// 			}
		// 		}
		// 	})
		// }).catch(() => {
		// 	//console.log('已取消')
		// })
	}
</script>

<script>
	layui.use('upload', function(){
		var $ = layui.jquery
				,upload = layui.upload;

		upload.render({ //允许上传的文件后缀
			elem: '#test4'
			,url: 'upload?type=0' //改成您自己的上传接口
			,accept: 'file' //普通文件
			,exts: 'pdf' //只允许上传pdf文件
			,done: function(data){
				if (data.code == 0){
					location.reload()
				}else {
					toast({time: 2000, content: data.msg})
				}

			}
		});


	});

</script>
<script type="text/javascript">
	window.onresize = window.onload = function(){
		var h2_width = $(".ih2").width();
		//console.log(h2_width)
		var dl_width = $(window).width() - h2_width - ($(window).width() * 0.06);
		//console.log(dl_width)
		$(".idl").width(dl_width);
		var li_height = $(".ili").height();
		$(".idl").height(li_height - (li_height*0.04));
		//alert(a)
	}
</script>
</html>