<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta content="招聘" http-equiv="keywords">
<meta name="description" content="招聘,培训">
<meta name="format-detection" content="telephone=no"><!-- 禁止IPHONE识别手机号码 -->
<meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
<meta name="renderer" content="webkit" />

<title>人和职业微平台</title>
<!-- css -->
<link rel="stylesheet" type="text/css" href="../css/index.css">
<link rel="stylesheet" type="text/css" href="../css/swiper.min.css">

<!-- public_css -->
<link rel="stylesheet" type="text/css" href="../css/public/public_lib.css">

<!-- zy_public_css -->
<link rel="stylesheet" type="text/css" href="../css/zy_public.css">
<!-- 子页css -->
<link rel="stylesheet" type="text/css" href="../css/children.css">

<!-- js -->
<script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../js/swiper.min.js"></script>
<script type="text/javascript" src="../js/public.js"></script>

</head>
<body>
<header class="zy_search_top_box scroll_fix">
	<div class="zy_title_top fix">
		<div class="one" href="javascript:" onclick="history.back();"><img src="../images/back_jt.png"><span>返回</span></div>
		<h1>工作详情</h1>
		<div class="r">
	    	<a href="../web_person/user.html"><img src="../images/menu_icon04.png"></a>
	    </div>
	</div>
</header>	

<!-- 占位框 -->
<div class="top_zhanwei_box"></div>		

<!-- 内容框 -->
<div class="zy_module-content">
	<!-- 工作详情 -->
	<div class="zy_content zy_find_work_xq">
		<div class="bgwh mb6">
			<h3>温馨提示：收取费用和押金的职位都是骗子，警防上当受骗</h3>
			<div class="work_tit p_02">
				<h2>观山湖高新区招聘大数据呼叫员</h2>
				<p class="fix">
					<a class="l gr">3000~5000元</a>
					<a class="r g9"><span>2019-03-13</span><span>浏览量：9999+</span></a>
				</p>
			</div>
			<div class="work_info p_2">
				<div><span>职位：</span><p>客服接话员</p></div>
				<div><span>要求：</span><p><em>10人</em><em>中专/技校</em><em>经验不限</em></p></div>
				<div><span>地点：</span><p>观山湖金阳新区世纪城购物中心A座28楼整层</p></div>
				<div>
					<span>福利：</span>
					<p><em>加班补助</em><em>餐补</em><em>话补</em><em>话补</em><em>年底双薪</em><em>五险一金</em><em>员工旅游</em></p>
				</div>
				<div class="apply zy_butn bord_3">申请职位</div>
			</div>			
		</div>

		<!-- 岗位职责 -->
		<div class="work_zhize bgwh mb6 p_2">
			<h4>岗位职责</h4>
			<div class="txt">
				<p>工作内容：<br/>1、负责接听移动、联通、电信客服服务电话。</p>
				<p>职位要求：<br/>1、中专毕业及以上学历，口齿伶俐、普通话标准、细心负责者优先。</p>
				<p>福利待遇：<br/>1、公司提供工作餐、底薪+提成+五险，收入上不封顶，多劳多得，工作环境优越。</p>
			</div>
		</div>
		<div class="work_contact bgwh mb6">
			<div><span>联系人：</span><p>杨老师</p></div>
			<div>
				<span>联系电话：</span>
				<p><a href="tel:18699799979">18699799979<img src="../images/common_img/zy_icon_tel01.png"></a></p>
			</div>
			<div class="more"><a href="work_more.html">查看该企业发布的所有工作</a></div>
		</div>
		<!-- 岗位职责 -->
		<div class="work_zhize bgwh mb6 p_2">
			<h2>观山湖呼叫外包服务有限公司</h2>
			<h4>企业介绍</h4>
			<div class="txt">
				<p>观山湖呼叫外包服务有限公司是2016年成立的大数据呼叫服务型企业，为移动、联通、电信等国有大型企业提供呼叫服务，是省级重点服务型企业，这里是企业介绍信息写在这里。</p>
			</div>
		</div>

		<!-- 详情底部栏 -->
		<div class="xq_foot dis_flex">
			<a onclick="img_hs(this)" is_show="true"><img src="../images/common_img/zy_icon_sc.png"><span>收藏</span></a>
			<a href="tel:18888899888"><img src="../images/common_img/zy_icon_tel.png"><span>电话</span></a>
			<div class="apply">申请职位</div>
		</div>
		<script type="text/javascript">
			function img_hs(obj){
				var mr='../images/common_img/zy_icon_sc.png';
				var sh='../images/common_img/zy_icon_sc01.png';
				var bool=$(obj).attr("is_show");
				if (bool=="true") {
					$(obj).find("img").attr("src",sh);
					$(obj).attr("is_show",'false');
					$(obj).find("span").css("color","#f2b300").text("已收藏")
				}else{
					$(obj).find("img").attr("src",mr);
					$(obj).attr("is_show",'true');
					$(obj).find("span").css("color","#333").text("收藏")
				}				
			}
		</script>
		<!-- 选择简历投递 -->
	    <div class="resume_box">
	    	<div class="resume">
	    		<h2>申请职位</h2>
	    		<span class="close">×</span>
	    		<div>
	    			<label><input type="radio" name="resume" checked="checked"><span>求职 呼叫中心客服</span></label>
	    			<label><input type="radio" name="resume"><span>求职 行政人事</span></label>
	    		</div>
	    		<button class="zy_butn">发送简历</button>
	    	</div>
	    	<script type="text/javascript">
	    		$(function(){
	    			$(".apply").mousedown(function(){
	    				$(".resume_box").show()
	    			})
	    			$(".close").mousedown(function(){
	    				$(".resume_box").hide();
	    			})
	    		})
	    	</script>
	    </div>
	</div>
	
	<!-- 返回顶部 -->
	<div class="go_top">
		<a class="btn_top"></a>
	</div>
	
	<!-- 底部 -->
	<div class="footer_box">
		<div class="footer">
			<h2>
				<a>圆圆</a><!-- 
			 --><a href="../web_ruzhu/apply_index.html">同行入驻</a>
			</h2>
			<h3>
				<span><a href="../web_other/about.html">关于我们</a></span>
				<span><a href="../web_other/about.html">求职指南</a></span>
				<span><a href="../web_other/about.html">联系我们</a></span>
				<span><a href="../web_other/about.html">免责声明</a></span>
			</h3>
			<div class="txt">
				<p>贵公网安备 11010602030054</p>
			</div>
		</div>
	</div>
	
</div>


</body>
</html>