<!DOCTYPE html>
<html>
<#include "/common/head.html">
<body>

<div class="zy_login_box">
	<header class="zy_search_top_box">
		<div class="zy_title_top fix">
			<div class="one" href="javascript:" onclick="history.back();"><img src="${request.contextPath}/images/back_jt.png"><span>返回</span></div>
			<h1>登录</h1>
			<div class="r">
		    	<a href="${request.contextPath}/public/register" >免费注册</a>
		    </div>
		</div>
	</header>	

	<!-- 内容框 -->
	<div class="zy_module-content">
		<div class="login_box">
			<div class="logo"><img src="${request.contextPath}/images/common_img/logo02.png"></div>
			<form id="login_form" method="post">
<!--				<div class="login_style">-->
<!--					<span class="cur">好工作上建泰人才网</span>-->
<!--&lt;!&ndash;					<span>找人才</span>&ndash;&gt;-->
<!--				</div>-->

				<div class="form_line">
					<label><a><img src="${request.contextPath}/images/zy_icon_user.png"></a><input  type="text" name="account" id="account" placeholder="请输入账号"></label>
				</div>
				<div class="form_line">
					<label><a><img src="${request.contextPath}/images/zy_icon_mm.png"></a><input type="password" name="password" id="password" placeholder="请输入密码"></label>
				</div>
				<button type="button" class="zy_login_btn" onclick="login()">登 录</button>

				<h2>
					<label><input type="checkbox" name="">自动登录</label>
					<a href="findPwd.html">忘记密码？<span class="ge04">点此找回</span></a>
				</h2>
			</form>
		</div>		
	</div>
</div>

</body>
<script type="text/javascript">
	$(function(){
		$(".login_style span").mousedown(function(){
			$(this).addClass("cur");
			$(this).siblings().removeClass("cur");
		})
	})
</script>
<script>
	function login() {
		$.ajax({
			url: "login",
			type: "post",
			data: $("#login_form").serialize(),
			dataType: "json",
			success: function(data){
				if (data.code == 0){
					// if (data.userType == "求职者"){
					// 	location.href = "${request.contextPath}/job_seeker/index";
					// }else {
					// 	location.href = "${request.contextPath}/recruiter/index";
					// }
					location.href = "${request.contextPath}/user/me";

				}else {
					toast({time: 2000, content: data.msg})
				}

			}
		});

	}
</script>
</html>