<!DOCTYPE html>
<html>
<#include "/common/head.html">
<body>

<div class="zy_login_box">
	<header class="zy_search_top_box">
		<div class="zy_title_top fix">
			<div class="one" href="javascript:" onclick="history.back();"><img src="../images/back_jt.png"><span>返回</span></div>
			<h1>注册（求职者）</h1>
			<div class="r">
		    	<a href="${request.contextPath}/public/login">账号登录</a>
		    </div>
		</div>
	</header>	

	<!-- 内容框 -->
	<div class="zy_module-content">
		<div class="login_box zhuce_box">
			
			<div class="zhuce_con">
				<div class="zhuce_tel">
					<form id="register_form">
						<div class="form_line">
							<label><a><img src="../images/zy_icon_user.png"></a><input type="text" name="nickName" id="nick_name" placeholder="请输入姓名/昵称"></label>
						</div>
						<div class="form_line">
							<label><a><img src="../images/zy_icon_account.png"></a><input type="text" name="account" id="account" placeholder="请输入4-16位账号"></label>
						</div>
<!--						<div class="form_line yzm">-->
<!--							<label><a><img src="../images/zy_icon_yzm.png"></a><input type="text" name="" placeholder="请输入验证码"></label>&lt;!&ndash; -->
<!--						 &ndash;&gt;<span>获取手机验证码</span>-->
<!--						</div>-->
						<div class="form_line">
							<label><a><img src="../images/zy_icon_mm.png"></a><input type="password" name="pwd" id="password" placeholder="请输入4-16位密码"></label>
						</div>
						<div class="form_line">
							<label><a><img src="../images/zy_icon_mm.png"></a><input type="password" name="re_pwd" id="re_password" placeholder="请确认密码"></label>
						</div>
						<h2>
							<label><input type="checkbox" name="">我已看过并接受<a href="../web_other/about.html">《用户协议》</a></label>
						</h2>
						<button class="zy_login_btn" type="button" onclick="register()">立即注册</button>
					</form>
				</div>
			</div>			
		</div>
	
	</div>
</div>

</body>
<script>
	function register() {
		var check = false;
		//昵称正则，1-16
		var nickNamePattern = /^[\w\u4e00-\u9fa5]{1,16}$/;
		//用户名正则，4到16位（字母，数字，下划线）
		var accountPattern = /^[a-zA-Z0-9]{4,16}$/;
		//用密码正则，4到16位（字母，数字，下划线）
		var passwordPattern = /^[a-zA-Z0-9]{4,16}$/;
		//正则校验

		var nickName = document.getElementById("nick_name").value;
		var account = document.getElementById("account").value;
		var password = document.getElementById("password").value;
		var re_password = document.getElementById("re_password").value;

		if (nickNamePattern.test(nickName)){
			if (accountPattern.test(account)){
				if (passwordPattern.test(password)){
					//判断两次密码是否一致
					if (password == re_password){
						check = true;
					}else {
						toast({time: 3000, content: "两次输入的密码不一致"})
					}


				}else {
					toast({time: 3000, content: "密码格式：4到16位字母数字"})
				}



			}else {
				toast({time: 3000, content: "账号格式：4到16位字母数字"})
			}
		}else {
			toast({time: 3000, content: "昵称格式：1到16位汉字字母数字下划线"})
		}



		// console.log(account);
		// console.log(accountPattern.test(account));
		if (check){
			$.ajax({
				url:"register",
				type:"post",
				dataType:"json",
				data: $("#register_form").serialize(),
				success:function (data) {
					if (data.code == 0){
						location.href = "index";
					}else {
						toast({time: 3000, content: data.msg})
					}

				}
			})
		}

	}
</script>
</html>