<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta content="招聘" http-equiv="keywords">
<meta name="description" content="招聘,培训">
<meta name="format-detection" content="telephone=no"><!-- 禁止IPHONE识别手机号码 -->
<meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
<meta name="renderer" content="webkit" />

<title>人和职业微平台</title>
<!-- css -->
<link rel="stylesheet" type="text/css" href="../css/index.css">
<link rel="stylesheet" type="text/css" href="../css/swiper.min.css">

<!-- public_css -->
<link rel="stylesheet" type="text/css" href="../css/public/public_lib.css">

<!-- zy_public_css -->
<link rel="stylesheet" type="text/css" href="../css/zy_public.css">
<!-- 子页css -->
<link rel="stylesheet" type="text/css" href="../css/children.css">

<!-- js -->
<script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../js/swiper.min.js"></script>
<script type="text/javascript" src="../js/public.js"></script>

</head>
<body>

<!-- 内容框 -->
<div class="zy_module-content">
	<!-- 消息 -->
	<div class="zy_content zy_vipbox">
		<div class="vip_head mb6">
			<div class="head pb10">
				<i><img src="../images/common_img/man.png"></i>
				<span>普通雇主</span>
				<h2>驰通科技集团有限公司</h2>
				<!-- <div class="state"><em class="on">正找工作</em><em>不找工作</em></div> -->
			</div>
			<div class="exit">退出</div>
		</div>
		<div class="vip_menu">
			<ul class="mb6">
				<li>
					<a href="user_info.html">
						<img src="../images/common_img/vip_icon_01.png">
						<span>资料设置</span>
					</a>
				</li>
				<li>
					<a href="user_fabu.html">
						<img src="../images/common_img/vip_icon_02.png">
						<span>发布招聘/项目</span>
					</a>
				</li>
				<li>
					<a href="user_myfabu.html">
						<img src="../images/common_img/vip_icon_03.png">
						<span>我的发布</span>
					</a>
				</li>
				<li>
					<a href="user_qzresume.html">
						<img src="../images/common_img/vip_icon_04.png">
						<span>收到的求职简历</span>
						<em class="n r gr">12</em>
					</a>
				</li>
				<li>
					<a href="user_myorder.html">
						<img src="../images/common_img/vip_icon_05.png">
						<span>我的定制</span>
					</a>
				</li>
				<li>
					<a href="user_mysc.html">
						<img src="../images/common_img/vip_icon_06.png">
						<span>我的收藏</span>
					</a>
				</li>
			</ul>
			<ul>
				<li>
					<a href="school.html">
						<img src="../images/common_img/vip_icon_07.png">
						<span>我的人才库</span>
						<em class="n r g9">需开通入驻</em>
					</a>
				</li>
			</ul>
		</div>
	</div>
	
	<!-- 返回顶部 -->
	<div class="go_top">
		<a class="btn_top"></a>
	</div>
	
	<!-- 底部 -->
	<div class="footer_box">
		<div class="footer">
			<h2>
				<a>驰通科技集团有限公司</a><!-- 
			 --><a href="../web_ruzhu/apply_index.html">同行入驻</a>
			</h2>
			<h3>
				<span><a href="../web_other/about.html">关于我们</a></span>
				<span><a href="../web_other/about.html">求职指南</a></span>
				<span><a href="../web_other/about.html">联系我们</a></span>
				<span><a href="../web_other/about.html">免责声明</a></span>
			</h3>
			<div class="txt">
				<p>贵公网安备 11010602030054</p>
			</div>
		</div>
	</div>

	<!-- 底部导航 -->
	<div class="foot_menu">
		<ul>
			<li>
				<a href="../web_company/index.html">
					<i><img src="../images/menu_icon01.png"></i>
					<span>首页</span>
				</a>
			</li>
			<li>
				<a href="../web_company/user_fabu.html">
					<i><img src="../images/company_img/menu_icon02.png"></i>
					<span>发布</span>
				</a>
			</li>
			<li class="info">
				<a href="../web_company/msg.html">
					<i><img src="../images/menu_icon03.png"></i>
					<span>消息</span>
					<em></em>
				</a>
			</li>
			<li class="cur">
				<a href="../web_company/user.html">
					<i><img src="../images/menu_icon04_r.png"></i>
					<span>我的</span>
				</a>
			</li>
		</ul>
	</div>
	
</div>


</body>
</html>