<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta content="招聘" http-equiv="keywords">
<meta name="description" content="招聘,培训">
<meta name="format-detection" content="telephone=no"><!-- 禁止IPHONE识别手机号码 -->
<meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
<meta name="renderer" content="webkit" />

<title>人和职业微平台</title>
<!-- css -->
<link rel="stylesheet" type="text/css" href="../css/index.css">
<link rel="stylesheet" type="text/css" href="../css/swiper.min.css">

<!-- public_css -->
<link rel="stylesheet" type="text/css" href="../css/public/public_lib.css">

<!-- zy_public_css -->
<link rel="stylesheet" type="text/css" href="../css/zy_public.css">
<!-- 子页css -->
<link rel="stylesheet" type="text/css" href="../css/children.css">

<!-- js -->
<script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../js/swiper.min.js"></script>
<script type="text/javascript" src="../js/public.js"></script>

	<script src="../js/lc_switch.js" type="text/javascript"></script>
	<link rel="stylesheet" href="../css/lc_switch.css">
</head>
<body>

<!-- 内容框 -->
<div class="zy_module-content">
	<!-- 消息 -->
	<div class="zy_content zy_vipbox">
		<div class="vip_head mb6">
			<div class="head pt5">
				<i><img src="../images/common_img/woman.png"></i>
<!--				<span>普通人才</span>-->
				<h2>
				<#if user??>
					${user.nickName}
				</#if>
				</h2>
				<!-- 简历公开 -->
				<br>
				<div align="center">
					<span style="font-size: 20px;font-weight: bold;display:inline-block">简历</span>
					<span style="font-size: 20px;font-weight: bold;display:inline-block">
					<#if user?? && user.resumeState == 0>
						<input type="checkbox" name="check-1" value="4" class="lcs_check" checked="checked" autocomplete="off" />
						<#else>
						<input type="checkbox" name="check-1" value="4" class="lcs_check" autocomplete="off" />
					</#if>
					</span>
				</div>

			<script type="text/javascript">
				$(document).ready(function(e) {
					$('input').lc_switch();
					$('body').delegate('.lcs_check', 'lcs-statuschange', function() {
						var state = ($(this).is(':checked')) ? '1' : '0';
						$.ajax({
							url:"changeResumeState?state="+state,
							type:"get",
							dataType:"json",
							success:function (data) {
								//console.log('field changed status: '+ status );
								console.log(data.msg);
							}
						})

					});
					// $('body').delegate('.lcs_check', 'lcs-on', function() {
					// 	console.log('field is checked');
					// });
					// $('body').delegate('.lcs_check', 'lcs-off', function() {
					// 	console.log('field is unchecked');
					// });
				});
			</script>

			</div>
			<a href="logout"><div class="exit" >退出</div></a>
		</div>
		<div class="vip_menu">
			<ul class="mb6">
				<li>
					<a href="user_info.html">
						<img src="../images/common_img/vip_icon_01.png">
						<span>资料设置</span>
					</a>
				</li>
				<li>
					<a href="user_mypart.html">
						<img src="../images/common_img/vip_icon_02_1.png">
						<span>我的合伙信息</span>
					</a>
				</li>
				<li>
					<a href="user_myresume.html">
						<img src="../images/common_img/vip_icon_02.png">
						<span>我的简历</span>
					</a>
				</li>
				<li>
					<a href="user_myrecord.html">
						<img src="../images/common_img/vip_icon_03.png">
						<span>我的申请记录</span>
					</a>
				</li>
				<li>
					<a href="user_msyq.html">
						<img src="../images/common_img/vip_icon_04.png">
						<span>收到的面试邀请</span>
						<em class="n r gr">12</em>
					</a>
				</li>
				<li>
					<a href="user_mytrain.html">
						<img src="../images/common_img/vip_icon_05.png">
						<span>我的培训</span>
					</a>
				</li>
				<li>
					<a href="user_mysc.html">
						<img src="../images/common_img/vip_icon_06.png">
						<span>我的收藏</span>
					</a>
				</li>
			</ul>
			<ul>
				<li>
					<a href="../web_company/school.html">
						<img src="../images/common_img/vip_icon_07.png">
						<span>我的人才库</span>
						<em class="n r g9">需开通入驻</em>
					</a>
				</li>
			</ul>
		</div>
	</div>
	
	<!-- 返回顶部 -->
	<div class="go_top">
		<a class="btn_top"></a>
	</div>
	
	<!-- 底部 -->
	<div class="footer_box">
		<div class="footer">
			<h2>
				<a>李丽丽</a><!-- 
			 --><a href="../web_ruzhu/apply_index.html">同行入驻</a>
			</h2>
			<h3>
				<span><a href="../web_other/about.html">关于我们</a></span>
				<span><a href="../web_other/about.html">求职指南</a></span>
				<span><a href="../web_other/about.html">联系我们</a></span>
				<span><a href="../web_other/about.html">免责声明</a></span>
			</h3>
			<div class="txt">
				<p>贵公网安备 11010602030054</p>
			</div>
		</div>
	</div>

	<!-- 底部导航 -->
	<#include "/common/floor.html">
	
</div>


</body>
<script>

</script>
</html>