<!DOCTYPE html>
<html>
<#include "/common/head.html">
<body>

<!-- 内容框 -->
<div class="zy_module-content">
	<!-- 消息 -->
	<div class="zy_content zy_vipbox">
		<div class="vip_head mb6">
			<div class="head pt5">
				<#if user.photo?? && user.photo != "">
				<i><img src="showImg?type=photo" style="width:100px;height: 100px; border-radius:50%; background: #fff;box-shadow: 0 0 0 5px #88bde8;"></i>
					<#else>
						<#if user.sex == 0>
						<img src="${request.contextPath}/images/common_img/woman.png" style="width:200px; height:200px; border-radius:50%; background: #fff;box-shadow: 0 0 0 5px #88bde8;">
						<#else>
						<img src="${request.contextPath}/images/common_img/man.png" style="width:200px; height:200px; border-radius:50%; background: #fff;box-shadow: 0 0 0 5px #88bde8;">
					</#if>
				</#if>
<!--				<i><img src="${request.contextPath}/images/common_img/woman.png"></i>-->
<!--				<span>普通人才</span>-->
<!--				<h2>-->
<!--				<#if user??>-->
<!--					${user.nickName}-->
<!--				</#if>-->
<!--				</h2>-->
				<!-- 简历公开 -->
		<h2>${user.nickName}</h2>
		<!-- 是否找工作 -->
		<div class="state rel"><em class="on" id="work-on">公开简历</em><em id="work-off">隐藏简历</em><b></b></div>
		<script type="text/javascript">
			var global_state = '${user.resumeState}';
			var state = '0';
			$(function(){
				$(".state em").click(function(){
					var n=$(this).index()*$(".state b").width();
					$(this).addClass("on");
					$(this).siblings().removeClass("on");
					$(".state b").stop().animate({left:n},150)
					if(this.innerHTML=='公开简历'){
						state='0';
					}else{
						state='1';
					}

						if(state != global_state){
							global_state = state;
							if (state == '0'){
								toast({time: 2000, content: "简历状态：公开"})
							}else {
								toast({time: 2000, content: "简历状态：关闭"})
							}


							$.ajax({
								url:"openResume?state="+state,
								type:"get",
								dataType:"json",
								success:function (data) {
									//console.log('field changed status: '+ status );
									// if (data.code == 0){
									// 	toast({time: 2000, content: "简历状态：公开"})
									// }else {
									// 	toast({time: 2000, content:"简历状态：关闭"})
									// }
								}
							})
						}

				})
			})
		</script>
		<script type="text/javascript">
			$(function () {
				<#if user.resumeState == 1>
					document.getElementById("work-off").click();
				</#if>
			})
		</script>

			</div>
			<a href="logout"><div class="exit" >退出</div></a>
		</div>
		<div class="vip_menu">
			<ul class="mb6">

				<#if user?? && user.type == 1>
					<li>
						<a href="staffInfo">
							<img src="../images/common_img/vip_icon_01.png">
							<span>资料设置</span>
						</a>
					</li>
				</#if>
				<#if user?? && user.type == 2>
					<li>
						<a href="">
							<img src="../images/common_img/vip_icon_01.png">
							<span>资料设置</span>
						</a>
					</li>
				</#if>

				<li>
					<a href="resume">
						<img src="../images/common_img/vip_icon_02.png" id="jl">
						<span>我的简历</span>
					</a>
				</li>
				<li>
					<a href="user_myrecord.html">
						<img src="../images/common_img/vip_icon_03.png">
						<span>我的申请记录</span>
					</a>
				</li>
				<li>
					<a href="user_msyq.html">
						<img src="../images/common_img/vip_icon_04.png">
						<span>收到的面试邀请</span>
						<em class="n r gr">12</em>
					</a>
				</li>
				<li>
					<a href="user_mytrain.html">
						<img src="../images/common_img/vip_icon_05.png">
						<span>我的培训</span>
					</a>
				</li>
				<li>
					<a href="user_mysc.html">
						<img src="../images/common_img/vip_icon_06.png">
						<span>我的收藏</span>
					</a>
				</li>
			</ul>

		</div>
	</div>
	
	<!-- 返回顶部 -->
	<div class="go_top">
		<a class="btn_top"></a>
	</div>
	
	<!-- 底部 -->
	<div class="footer_box">
		<div class="footer">
			<h2>
				<a>李丽丽</a><!-- 
			 --><a href="../web_ruzhu/apply_index.html">同行入驻</a>
			</h2>
			<h3>
				<span><a href="../web_other/about.html">关于我们</a></span>
				<span><a href="../web_other/about.html">求职指南</a></span>
				<span><a href="../web_other/about.html">联系我们</a></span>
				<span><a href="../web_other/about.html">免责声明</a></span>
			</h3>
			<div class="txt">
				<p>贵公网安备 11010602030054</p>
			</div>
		</div>
	</div>

	<!-- 底部导航 -->
	<#include "/common/floor.html">
	
</div>


</body>

</html>