<!DOCTYPE html>
<html>
<#include "/common/head.html">
<body>

<header class="zy_search_top_box scroll_fix">
	<div class="zy_title_top fix">
		<div class="one" href="javascript:" onclick="history.back();"><img src="../images/back_jt.png"><span>返回</span></div>
		<h1>消息</h1>
		<div class="r">
	    	<a>清空消息</a>
	    </div>
	</div>
</header>	

<!-- 占位框 -->
<div class="top_zhanwei_box"></div>		

<!-- 内容框 -->
<div class="zy_module-content">
	<!-- 消息 -->
	<div class="zy_content zy_msg bgwh">
		<ul>
			<li>
				<a href="msg_xq.html"><h3>您收到“驰通科技集团”的面试邀请<i></i></h3><span>03-25</span></a>
			</li>
			<li>
				<a href="msg_xq.html"><h3>您收到“贵州甲辰阳光教育集团”的面试邀请<i></i></h3><span>03-20</span></a>
			</li>
		</ul>
	</div>
	
	<!-- 返回顶部 -->
	<div class="go_top">
		<a class="btn_top"></a>
	</div>
	
	<!-- 底部 -->
	<div class="footer_box">
		<div class="footer">
			<h2>
				<a>圆圆</a><!-- 
			 --><a href="../web_ruzhu/apply_index.html">同行入驻</a>
			</h2>
			<h3>
				<span><a href="../web_other/about.html">关于我们</a></span>
				<span><a href="../web_other/about.html">求职指南</a></span>
				<span><a href="../web_other/about.html">联系我们</a></span>
				<span><a href="../web_other/about.html">免责声明</a></span>
			</h3>
			<div class="txt">
				<p>贵公网安备 11010602030054</p>
			</div>
		</div>
	</div>

	<!-- 底部导航 -->
<#include "/common/floor.html">
	
</div>


</body>
</html>