<!DOCTYPE html>
<html>
<#include "/common/head.html">
<body>
<header class="zy_search_top_box scroll_fix">
	<div class="zy_title_top fix">
		<div class="one" href="javascript:" onclick="history.back();"><img src="../images/back_jt.png"><span>返回</span></div>
		<h1>编辑简历</h1>
		
	</div>
</header>	

<!-- 占位框 -->
<div class="top_zhanwei_box"></div>	

<!-- 内容框 -->
<div class="zy_module-content zy_vip_conbox">
	<div class="vip_user_info_mima vip_user_createbox">
		<form id="data_form">
			<div class="headpic mb6 bgwh">
				<i><img src="../images/common_img/woman.png"/></i>
			</div>
			<div class="write bgwh">
				<input hidden="hidden" type="text" name="id" value="${resumeInfo.id}">
				<div class="form_line">
					<label><span>姓名</span><input type="text" name="name" value="${resumeInfo.name}"></label>
				</div>
				<div class="form_line sexbox bbd">
	                <span>性别</span>
					<#if resumeInfo.sex == 0>
	                <label><input style="appearance: auto" type="radio" name="sex" value="0" checked="checked">女</label>
	                <label><input style="appearance: auto" type="radio" name="sex" value="1">男</label>
					<#else>
					<label><input style="appearance: auto" type="radio" name="sex" value="0">女</label>
					<label><input style="appearance: auto" type="radio" name="sex" value="1" checked="checked">男</label>
					</#if>
	            </div>
	            <div class="form_line">
					<label><span>年龄</span><input type="text" name="age" value="${resumeInfo.age}"></label>
				</div>
				<div class="form_line bbd xzbox">
					<span>学历</span>
					<select name="education">
						<#list educationList as el>
							<#if resumeInfo.education == el.id>
								<option value="${el.id}" selected="selected">${el.name}</option>
							<#else>
								<option value="${el.id}">${el.name}</option>
							</#if>
						</#list>
					</select>
				</div>
			<div class="form_line">
				<label><span>求职意向</span><input type="text" name="intention" id="intention" value="${resumeInfo.intention}" placeholder="请输入求职意向"></label>
			</div>
				<div class="form_line bbd xzbox">
					<span>工作经验</span>
					<select name="experience">
						<#list experienceList as el>
							<#if resumeInfo.experience == el.id>
								<option value="${el.id}" selected="selected">${el.name}</option>
							<#else>
								<option value="${el.id}">${el.name}</option>
							</#if>
						</#list>
					</select>
				</div>
				<div class="form_line bbd xzbox">
					<span>期望月薪</span>
					<select name="salary">
						<#list salaryList as list>

<!--								<option value="${list.id}">${list.min}-${list.max}</option>-->

								<#if list.min == 0>

									<#if list.id == resumeInfo.salary>
										<option value="${list.id}" selected="selected">${list.max}以下</option>
									<#else>
										<option value="${list.id}">${list.max}以下</option>
									</#if>
								<#elseif list.max == 100000000>

									<#if list.id == resumeInfo.salary>
										<option value="${list.id}" selected="selected">${list.min}以上</option>
									<#else>
										<option value="${list.id}">${list.min}以上</option>
									</#if>
								<#else>

									<#if list.id == resumeInfo.salary>
										<option value="${list.id}" selected="selected">${list.min}-${list.max}</option>
									<#else>
										<option value="${list.id}">${list.min}-${list.max}</option>
									</#if>
								</#if>


						</#list>
					</select>
				</div>
				<div class="form_line tel"><label><span>联系电话</span><input type="text" name="phoneNumber" value="${resumeInfo.phoneNumber}"></label></div>
				<div class="form_line">
					<label><span>工作经历</span><textarea name="workExperience">${resumeInfo.workExperience}</textarea></label>
				</div>
				<div class="form_line">
					<label><span>教育经历</span><textarea name="educationExperience">${resumeInfo.educationExperience}</textarea></label>
				</div>
				<div class="form_line">
					<label><span>专业技能</span><textarea name="skill">${resumeInfo.skill}</textarea></label>
				</div>
				<div class="form_line">
					<label><span>自我介绍</span><textarea name="introduction">${resumeInfo.introduction}</textarea></label>
				</div>
				<button class="zy_butn bord_3" type="button" onclick="saveResume()">保存修改</button>
			</div>
			
		</form>
	</div>
</div>

</body>
<script>
	function saveResume() {
		$.ajax({
			url:"editResume",
			type:"post",
			dataType:"json",
			data:$("#data_form").serialize(),
			success:function (data) {
				if (data.code == 0){
					history.back()
				}else {
					toast({time: 2000, content: data.msg})
				}
			}
		})
	}

</script>
</html>